@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    background: linear-gradient(-45deg, #24194F, #0776CC, #02CAEF);
    background-size: 1000000% 1000000%;
    animation: gradient 30s ease infinite;
    height: 50vh;
    font-family: Jost;
    color: whitesmoke;
}

.SearchControl {
    margin-top: 10px;
    margin-bottom: 10px;
}
.TotalPlayerData {
    margin-top: 10px;
}
.Results {
    line-height: 50%;
}
.ResultsNextTo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 5px;
}
.Below {
    flex-direction: column;
}
.playerStats {
    margin-top: 50px;
}
.playerData {
    margin-top: 50px;
}
.GKStats {
    font-weight: bold;
    margin-top: 50px;
}
.playerName {
    font-weight: bold;
}
.totalStats {
    font-weight: bold;
}

hr.playerStats{
    color: white;
    border-radius: 5px;
    margin: auto 1700px;
    margin-left: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}