@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    background-image: url('/DLS-Player-search/Data/system_images/bg23.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    font-family: Jost;
    color: whitesmoke;
}

.SearchControl {
    margin-top: 30px;
    margin-bottom: 10px;
}
.controlsCounter{
  margin-left: 100px;
}
.playerPhoto {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
}
.TotalPlayerData {
    margin-top: 10px;
}
.Results {
    line-height: 50%;
}
.ResultsNextTo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 5px;
}
.Below {
    flex-direction: column;
}

.playerData {
    align-items: center;
}
.GKStats {
    font-weight: bold;
}
.playerName {
    font-weight: bold;
}
.totalStats {
    font-weight: bold;
}
hr.playerStats{
    color: white;
    border-radius: 5px;
    margin: auto 1700px;
    margin-left: 0;
}
hr.hrborder {
        border: 2px solid whitesmoke;
        border-radius: 10px;
}
.searchSettings {
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.searchFactorSelector {
  text-align: center;
  height: 30px; 
  width: 250px;
  font-size: 1.1em;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 12px;
  color: whitesmoke;
  margin-left: 2em;
}
.searchFactorSelector option {
  background-color: rgba(255, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.685);    
}
.searchFactorSelector option:hover {
  background-color: rgba(245, 245, 245, 0.507);
  color: #000000bd;
}

  .input{
    width: 350px;
    border: 2px solid rgb(245, 245, 245);
    background: transparent;
    padding: 8px;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-family: Jost;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  
  .button {
    display: inline-block;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 12px;
    background-color: #fffdfd8a;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .ctrlbutton {
    display: inline-block;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 12px;
    background-color: #00000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 6px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }